/vendor/
writable/logs/*.log
writable/debugbar/
writable/session/
writable/uploads/*
!writable/uploads/index.html
public/documentos_casos/
public/documentos_punto_cuenta/
/.env
.qodo
deploy/nginx.conf
