    .detalle_caso {
        /* background: linear-gradient(to right, #fafbfc, #c2cdd6, #9ca8b1); */
        background: linear-gradient(to right, #fafbfc, #f3f5f7, #a9b6c2);
        color: blueviolet;
    }

    .btn-xs-xs {
    position: relative;
    padding: 0.25rem;
    left: 0%;
    background-color: rgb(94, 97, 97);
    border-radius: 5px;
    align-items: center;

}

.length-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    gap: 10px; /* Espacio entre el selector y los botones */
}